@model InternetERP.Web.ViewModels.Employee.Sales.DashboardIndexViewModel
@{
    this.ViewData["Title"] = "Employee Sales dashboard";
}

<h1>@this.ViewData["Title"]</h1>
Settings: @this.Model.SettingsCount
