@model InternetERP.Web.ViewModels.Employee.Sales.SaleSelectedUser

<div class="row">
    <div class="alert alert-dark col-7 ms-5 me-1" role="alert">
        <strong>Customer : @Model.UserFullName - </strong> Address:@Model.UserAddress
    </div>
    <div class="alert alert-info col-4 ms-1" role="alert">
        <strong>Bill : </strong>Qty : @Model.BillInfo.Quantity total : $@Model.BillInfo.Totals.ToString("F2")
    </div>
</div>