@model int
<div class="row" style="margin-left:150px;">
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a href="javascript:void(0)"
           class="card bg-secondary text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="mdi mdi-alert-octagram display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">
                        New sale
                    </h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Initialize a new sale to a customer
                    </h6>
                    @if (Model == 1)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a asp-area="Employee" asp-controller="SaleGoods" asp-action="SaleProducts"
           class="card bg-success text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="mdi mdi-shopping display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">Selling products</h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Ruters and other stocks
                    </h6>
                    @if (Model == 2)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a asp-area="Employee" asp-controller="SaleGoods" asp-action="SaleServices"
           class="card bg-warning text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="me-2 mdi mdi-wan display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">Sell services</h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Add Internet taxes for account
                    </h6>
                    @if (Model == 3)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a asp-area="Employee" asp-controller="SaleGoods" asp-action="PayFailure"
           class="card bg-danger text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="mdi mdi-calendar display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">
                        Pay for faulire
                    </h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Pay product and service for failure
                    </h6>
                    @if (Model == 4)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a asp-area="Employee" asp-controller="SaleGoods" asp-action="Checkout"
           class="card bg-primary text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="me-2 mdi mdi-checkbox-marked-outline display-6 fw-bold"></span>
                    <div class="ms-auto">
                        
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">
                        Checkout
                    </h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Manage all stock and final payment
                    </h6>
                    @if (Model == 5)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
 </div>