@model int
<div class="row">
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a href="javascript:void(0)"
           class="card bg-secondary text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="mdi mdi-alert-octagram display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">
                        New sale
                    </h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Initialize a new sale to a customer
                    </h6>
                    @if (Model == 1)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a href="javascript:void(0)"
           class="card bg-success text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="mdi mdi-shopping display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">Selling products</h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Shoes, Jeans, Party wear, Watchs
                    </h6>
                    @if (Model == 2)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a href="javascript:void(0)"
           class="card bg-warning text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="mdi mdi-food display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">Sell services</h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Add Internet taxes for account
                    </h6>
                    @if (Model == 3)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a href="javascript:void(0)"
           class="card bg-danger text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="mdi mdi-calendar display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">
                        Pay for faulire
                    </h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Pay product and service for failure
                    </h6>
                    @if (Model == 4)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a href="javascript:void(0)"
           class="card bg-primary text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="mdi mdi-apple display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">
                        Apple Accessories
                    </h4>
                    <h6 class="card-text fw-normal text-white-50">
                        Magsafe charger, Solo Loop
                    </h6>
                    @if (Model == 5)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2 d-flex align-items-stretch">
        <a href="javascript:void(0)"
           class="card bg-info text-white w-100 card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="mdi mdi-folder-multiple display-6 fw-bold"></span>
                    <div class="ms-auto">
                        <i data-feather="arrow-right" class="fill-white"></i>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="card-title mb-1 text-white">Manage Data</h4>
                    <h6 class="card-text fw-normal text-white-50">
                        on mobile, on site
                    </h6>
                    @if (Model == 6)
                    {
                        <h5 class="bg-white text-danger text-bolt p-1 rounded-3">Current step</h5>
                    }
                </div>
            </div>
        </a>
    </div>
</div>