@{
    this.ViewData["Title"] = "Contact Us by Phone or Address";
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-4">
                <h1>InternetERP</h1>
                <h2>@this.ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</div>

<div class="contact-information">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <h4>Phone</h4>
                    <p>We work every day from 09:00 to 18:00.</p>
                    <a href="#">+359 888 888 888</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-envelope"></i>
                    <h4>Email</h4>
                    <a href="mailto:interneterp.employee.manager@gmail.com">interneterp.employee.manager@gmail.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-map-marker"></i>
                    <h4>Location</h4>
                    <p>
                    София, ж.к. Младост 4,<br />
                    бул. Александър<br />
                    Малинов №78<br />
                    ПК: 1799
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row col-8 " id="map">
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2935.187187025952!2d23.3675959!3d42.6361915!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa86b9b1bf82df%3A0xdd837ef0b77aae66!2z0LHRg9C7LiDigJ7QkNC70LXQutGB0LDQvdC00YrRgCDQnNCw0LvQuNC90L7QsuKAnCA3OCwgMTcxMiDQkNC80LXRgNC40LrQsNC90YHQutC4INC60L7Qu9C10LYsINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1670167805767!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>