@model InternetERP.Web.ViewModels.Administration.Users.LatestsAddedUsersViewModel
<div class="card my-sm-3 contacts_card">
    <div class="contacts_body">
        <div class="card-header">
            <h4 style="color:blue">Latest users</h4>
            <hr />
        </div>
        <ul class="contacts text-start">
            @foreach (var user in Model.LatestAddedUsers)
            {
                <li>
                    <a asp-controller="Users" asp-area="Administration" asp-action="Profile" asp-route-userId="@user.Id">
                        <span>Name: @user.FirstName</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="card-footer"></div>
</div>