@model InternetERP.Web.ViewModels.Home.HomeViewModel
@using InternetERP.Common
@{
    this.ViewData["Title"] = "Home Page";
    bool isActive = true;
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @foreach (var product in Model.PromoProducts)
            {
                <div class="carousel-item @(isActive ? "active" : "") bg-image" style="background-image: url('https://res.cloudinary.com/dqzm8tfvg/image/upload/v1670266552/background2_crcl7g.jpg');height:399px;">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-1"></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 bg-white mt-5">
                            <div class="white-box text-center">
                                <img src="~/images/Products/@product.Images.FirstOrDefault().Name"
                                 class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 bg-white mt-5">
                            <h4 class="box-title mt-5">@product.Name</h4>
                            <p>
                                @product.Description
                            </p>
                            <h2 class="mt-5">
                                $@product.SellPrice <small class="text-success">(promo)</small>
                            </h2>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>
                    </div>
                </div>
                @if (isActive)
                {
                    isActive = false;
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
